.mod-frames-wrapper {

}

.mod-alt {
  margin: 0;
  padding: 10px 0 0;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  text-indent: 23px;
  font-weight: bold;

  &.attr-flame {
    background-image: url(../images/icon_flame.png);
  }
  &.attr-water {
    background-image: url(../images/icon_water.png);
  }
  &.attr-stone {
    background-image: url(../images/icon_stone.png);
  }
  &.attr-light {
    background-image: url(../images/icon_light.png);
  }
  &.attr-dark {
    background-image: url(../images/icon_dark.png);
  }
  &.attr-sexy {
    background-image: url(../images/icon_sexy.png);
  }
}

.mod-frames {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.mod-frame {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;

  label {
    padding: 0 2px;
    display: block;
  }
}