@charset "utf-8";

/*------------------------------------------

reset and default

------------------------------------------*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body,article,aside,footer,header,nav,section,figure,figcaption,dd {
  display: block;
  margin: 0;
}
h1,h2,h3,h4,h5 {
  margin: 0;
}
ul, ol, p, dl, dt, dd {
  margin: 0;
  padding: 0;
}
ul, ol {
  list-style: none;
  text-align: left;
  li {
    margin-bottom: 5px;
  }
}
a {
  text-decoration: underline;
}
a:hover {
  opacity: 0.8;
}
img {
  border: none;
  vertical-align: bottom;
}
body {
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 12px;
  color: #878787;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
}
.center {
  text-align: center;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 0 auto;
  border: 1px solid #C7C7C7;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: block;
  width: 262px;
  height: 8px;
  -webkit-box-shadow:0px 3px 3px 0 rgba(170,170,170,0.2) inset;
  -moz-box-shadow:0px 3px 3px 0 rgba(170,170,170,0.2) inset;
  box-shadow:0px 3px 3px 0 rgba(170,170,170,0.2) inset;
  

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #BABABA;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 18px;
    height: 18px;
    position: relative;

    background: #fefefe; /* Old browsers */
  background: -moz-linear-gradient(top,  #fefefe 0%, #fafafa 27%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(27%,#fafafa), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fefefe 0%,#fafafa 27%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fefefe 0%,#fafafa 27%,#e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fefefe 0%,#fafafa 27%,#e5e5e5 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fefefe 0%,#fafafa 27%,#e5e5e5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  }
  &::-webkit-slider-thumb:before {
  position: absolute;
  top: 4px;
  left: 4px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #2E3436;
  }
}

/*--------------------------------------------------------------

style

--------------------------------------------------------------*/
.banner {
  margin: 15px 0;
  text-align: center;
  clear: left;

  &:first-child {
    margin: 0;
  }
}
.logo, .btn_area, .frame_area {
  margin: 0 auto;
  width: 300px;
}
.logo {
  margin-bottom: 25px;
  padding-top: 10px;
  img {
    margin-left: 22px;
  }
}
.btn_area {
  margin-bottom: 25px;
  height: 90px;
  position: relative;
  a {
    position: absolute;
    display: block;
  }
  img {
    width: 41px;
  }
}
.btn_flame {
  top: 25px;
  left: 40px;
}
.btn_water {
  top: 0;
  left: 84px;
}
.btn_stone {
  top: 50px;
  left: 84px;
}
.btn_light {
  top: 25px;
  left: 128px;
}
.btn_dark {
  top: 0;
  left: 172px;
}
.btn_sexy {
  top: 50px;
  left: 172px;
}
.btn_ojama {
  top: 25px;
  left: 216px;
}

.frame_area {
  margin-bottom: 5px;
  position: relative;
  height: 102px;
  .left, .right {
    a {
      position: absolute;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-size: 40px 40px;
      width: 40px;
      height: 40px;
      text-indent: -1000em;
    }
  }
  .active {
      margin-left: -1px;
      margin-top: -1px;
      border: 1px solid #fff;
      border-radius: 3px;
    }
    .right {
      .active {
        margin-left: 0;
        margin-right: -1px;
      }
    }
  .frame_main_area {
    position: absolute;
    top: 0;
    left: 101px;
  }
  .frame_double {
    top: 4px;
    left: 1px;
  }
  .frame_flame {
    top: 4px;
    left: 51px;
  }
  .frame_water {
    top: 54px;
    left: 1px;
  }
  .frame_stone {
    top: 54px;
    left: 51px;
  }
  .frame_dark {
    top: 4px;
    right: 1px;
  }
  .frame_light {
    top: 4px;
    right: 51px;
  }
  .frame_ojama {
    top: 54px;
    right: 1px;
  }
  .frame_sexy {
    top: 54px;
    right: 51px;
  }
}

.flame {
  .active {
    -webkit-box-shadow: 0 0 0 2px #FFACAC;
    -moz-box-shadow: 0 0 0 2px #FFACAC;
    box-shadow: 0 0 0 2px #FFACAC;
  }
  .frame_double {
    background-image: url("../images/pazu_frame_flame_flame.png");
  }
  .frame_flame {
    background-image: url("../images/pazu_frame_flame.png");
  }
  .frame_water {
    background-image: url("../images/pazu_frame_flame_water.png");
  }
  .frame_stone {
    background-image: url("../images/pazu_frame_flame_stone.png");
  }
  .frame_dark {
    background-image: url("../images/pazu_frame_flame_dark.png");
  }
  .frame_light {
    background-image: url("../images/pazu_frame_flame_light.png");
  }
  .frame_ojama {
    background-image: url("../images/pazu_frame_flame_ojama.png");
  }
  .frame_sexy {
    background-image: url("../images/pazu_frame_flame_sexy.png");
  }
}

.water {
  .active {
    -webkit-box-shadow: 0 0 0 2px #86B8F4;
    -moz-box-shadow: 0 0 0 2px #86B8F4;
    box-shadow: 0 0 0 2px #86B8F4;
  }
  .frame_double {
    background-image: url("../images/pazu_frame_water_water.png");
  }
  .frame_flame {
    background-image: url("../images/pazu_frame_water_flame.png");
  }
  .frame_water {
    background-image: url("../images/pazu_frame_water.png");
  }
  .frame_stone {
    background-image: url("../images/pazu_frame_water_stone.png");
  }
  .frame_dark {
    background-image: url("../images/pazu_frame_water_dark.png");
  }
  .frame_light {
    background-image: url("../images/pazu_frame_water_light.png");
  }
  .frame_ojama {
    background-image: url("../images/pazu_frame_water_ojama.png");
  }
  .frame_sexy {
    background-image: url("../images/pazu_frame_water_sexy.png");
  }
}

.stone {
  .active {
    -webkit-box-shadow: 0 0 0 2px #8FDA79;
    -moz-box-shadow: 0 0 0 2px #8FDA79;
    box-shadow: 0 0 0 2px #8FDA79;
  }
  .frame_double {
    background-image: url("../images/pazu_frame_stone_stone.png");
  }
  .frame_flame {
    background-image: url("../images/pazu_frame_stone_flame.png");
  }
  .frame_water {
    background-image: url("../images/pazu_frame_stone_water.png");
  }
  .frame_stone {
    background-image: url("../images/pazu_frame_stone.png");
  }
  .frame_dark {
    background-image: url("../images/pazu_frame_stone_dark.png");
  }
  .frame_light {
    background-image: url("../images/pazu_frame_stone_light.png");
  }
  .frame_ojama {
    background-image: url("../images/pazu_frame_stone_ojama.png");
  }
  .frame_sexy {
    background-image: url("../images/pazu_frame_stone_sexy.png");
  }
}

.dark {
  .active {
    -webkit-box-shadow: 0 0 0 2px #D591DE;
    -moz-box-shadow: 0 0 0 2px #D591DE;
    box-shadow: 0 0 0 2px #D591DE;
  }
  .frame_double {
    background-image: url("../images/pazu_frame_dark_dark.png");
  }
  .frame_flame {
    background-image: url("../images/pazu_frame_dark_flame.png");
  }
  .frame_water {
    background-image: url("../images/pazu_frame_dark_water.png");
  }
  .frame_stone {
    background-image: url("../images/pazu_frame_dark_stone.png");
  }
  .frame_dark {
    background-image: url("../images/pazu_frame_dark.png");
  }
  .frame_light {
    background-image: url("../images/pazu_frame_dark_light.png");
  }
  .frame_ojama {
    background-image: url("../images/pazu_frame_dark_ojama.png");
  }
  .frame_sexy {
    background-image: url("../images/pazu_frame_dark_sexy.png");
  }
}

.light {
  .active {
    -webkit-box-shadow: 0 0 0 2px #F5E066;
    -moz-box-shadow: 0 0 0 2px #F5E066;
    box-shadow: 0 0 0 2px #F5E066;
  }
  .frame_double {
    background-image: url("../images/pazu_frame_light_light.png");
  }
  .frame_flame {
    background-image: url("../images/pazu_frame_light_flame.png");
  }
  .frame_water {
    background-image: url("../images/pazu_frame_light_water.png");
  }
  .frame_stone {
    background-image: url("../images/pazu_frame_light_stone.png");
  }
  .frame_dark {
    background-image: url("../images/pazu_frame_light_dark.png");
  }
  .frame_light {
    background-image: url("../images/pazu_frame_light.png");
  }
  .frame_ojama {
    background-image: url("../images/pazu_frame_light_ojama.png");
  }
  .frame_sexy {
    background-image: url("../images/pazu_frame_light_sexy.png");
  }
}

.sexy {
  .active {
    -webkit-box-shadow: 0 0 0 2px #FF3CC0;
    -moz-box-shadow: 0 0 0 2px #FF3CC0;
    box-shadow: 0 0 0 2px #FF3CC0;
  }
  .frame_double {
    background-image: url("../images/pazu_frame_sexy_sexy.png");
  }
  .frame_flame {
    background-image: url("../images/pazu_frame_sexy_flame.png");
  }
  .frame_water {
    background-image: url("../images/pazu_frame_sexy_water.png");
  }
  .frame_stone {
    background-image: url("../images/pazu_frame_sexy_stone.png");
  }
  .frame_dark {
    background-image: url("../images/pazu_frame_sexy_dark.png");
  }
  .frame_light {
    background-image: url("../images/pazu_frame_sexy_light.png");
  }
  .frame_ojama {
    background-image: url("../images/pazu_frame_sexy_ojama.png");
  }
  .frame_sexy {
    background-image: url("../images/pazu_frame_sexy.png");
  }
}

.ojama {
  .active {
    -webkit-box-shadow: 0 0 0 2px #6F8DDE;
    -moz-box-shadow: 0 0 0 2px #6F8DDE;
    box-shadow: 0 0 0 2px #6F8DDE;
  }
  .frame_double {
    background-image: url("../images/pazu_frame_ojama_ojama.png");
  }
  .frame_flame {
    background-image: url("../images/pazu_frame_ojama_flame.png");
  }
  .frame_water {
    background-image: url("../images/pazu_frame_ojama_water.png");
  }
  .frame_stone {
    background-image: url("../images/pazu_frame_ojama_stone.png");
  }
  .frame_dark {
    background-image: url("../images/pazu_frame_ojama_dark.png");
  }
  .frame_light {
    background-image: url("../images/pazu_frame_ojama_light.png");
  }
  .frame_ojama {
    background-image: url("../images/pazu_frame_ojama.png");
  }
  .frame_sexy {
    background-image: url("../images/pazu_frame_ojama_sexy.png");
  }
}

.select_photo {
  margin-bottom: 10px;
  text-align: center;
  input {
    position: relative;
    width: 98px;
    height: 25px;
  }
  input:before {
    margin-left: -1px;
    padding-top: 6px;
    border: 1px solid #BBB;
    border-radius: 3px;
    position: absolute;
    content: "写真をえらぶ";
    width: 105px;
    height: 24px;
    text-align: center;
    font-family: 'kurokane';
    font-size: 14px;
    line-height: 17px;
    color: #555;
    
    background: #fefefe; /* Old browsers */
    background: -moz-linear-gradient(top,  #fefefe 0%, #fafafa 27%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(27%,#fafafa), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fefefe 0%,#fafafa 27%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fefefe 0%,#fafafa 27%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fefefe 0%,#fafafa 27%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fefefe 0%,#fafafa 27%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  }
}
.scale_photo {
  margin-bottom: 25px;
  text-align: center;
  span {
    margin: 0 auto 3px auto;
    display: block;
    width: 262px;
    text-align: right;
    font-size: 11px;
    font-family: 'kurokane';
  }
}
.input_plus, .input_level {
  margin: 0 auto 5px auto;
  width: 135px;
  span {
    padding-top: 3px;
    margin-right: 5px;
    display: inline-block;
    width: 20px;
    text-align: right;
    line-height: 1.8;
    font-family: 'kurokane';
  }
  input {
    padding: 4px 5px 4px 5px;
    border: 1px solid #BBB;
    border-radius: 3px;
    width: 60px;
    -webkit-box-shadow:0px 3px 3px 0 rgba(200,200,200,0.2) inset;
    -moz-box-shadow:0px 3px 3px 0 rgba(200,200,200,0.2) inset;
    box-shadow:0px 3px 3px 0 rgba(200,200,200,0.2) inset;
  }
}
.input_level {
  margin-bottom: 20px;
}
.btn_download > a{
  margin: 0 auto 30px auto;
  padding-left: 16px;
  padding-top: 6px;
  border: 1px solid #9A861B;
  border-radius: 3px;
  position: relative;
  display: block;
  width: 124px;
  height: 29px;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-family: 'kurokane';
  text-shadow: -1px -1px 0 rgba(0,0,0,0.12);

  background: #f5dd40; /* Old browsers */
  background: -moz-linear-gradient(top,  #f5dd40 0%, #efd73a 14%, #bba306 87%, #b69e01 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5dd40), color-stop(14%,#efd73a), color-stop(87%,#bba306), color-stop(100%,#b69e01)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f5dd40 0%,#efd73a 14%,#bba306 87%,#b69e01 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f5dd40 0%,#efd73a 14%,#bba306 87%,#b69e01 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f5dd40 0%,#efd73a 14%,#bba306 87%,#b69e01 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f5dd40 0%,#efd73a 14%,#bba306 87%,#b69e01 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5dd40', endColorstr='#b69e01',GradientType=0 ); /* IE6-9 */
}
.btn_download >a:after {
  content: url("../images/egg.png");
  position: absolute;
  top: -7px;
  right: -50px;
  display: block;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.btn_download.disabled > a{
  color: #F6E3A1;
  text-shadow: -1px -1px 0 rgba(0,0,0,0.08);
  cursor: default;
  &:hover {
    opacity: 1;
  }
}
.footer {
  background-color: #212121;
  color: #fff;
  a {
    color: #fff;
  }
  .inner {
    margin: 0 auto;
    padding: 30px 0 0 0;
    width: 468px;
  }
  p {
    margin-bottom: 1em;
  }
  .news {
    padding: 15px 0;
    font-weight: bold;
    dt {
      float: left;
    }
    dd {
      margin-left: 80px;
    }
  }
  .sns_btn {
    padding: 15px 0 35px 0;
    li {
      float: left;
    }
  }
  .credit {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 25px;
    text-align: center;
    font-family: 'kurokane';
  }
}

.loading {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 6666;

  & > div {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -11px;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    zoom: 1.5;

    div {
      position: absolute;
      top: -4px;
      left: 6px;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      background: #fff;
      -webkit-animation-name: mod-loader-rotate;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-duration: 1s;
      -webkit-transform-origin: 50% 14px;
    }
  }
}

@-webkit-keyframes mod-loader-rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
/*--------------------------------
iPhone
--------------------------------*/
@media screen and (min-width: 0px) and (max-width: 400px) {
  .banner img {
    width: 300px;
  }
  .footer {
    .inner {
      width: 290px;
    }
    .sns_btn {
      padding: 10px 0 5px 0;
      text-align: center;
      li {
        margin-bottom: 12px;
        float: none;
      }
    }
  }
}

@media screen and (min-width: 401px) and (max-width: 700px) {
  .banner img {
    width: 460px;
  }
  .footer {
    .inner {
      width: 450px;
    }
  }
}























