// プレビュー
.mod-preview {
  position: relative;
  width: 320px;
  height: auto;
  min-height: 98px;
  overflow: hidden;
}

  .mod-canvas {
    margin: 0 auto;
    width: 98px;
    height: 98px;
  }

  .mod-canvas-icon {
  }